@model IEnumerable<Famer.Entity.Model.Order>

@{
    ViewBag.Title = "助农为乐 - 我的订单";
    Layout = "~/Views/Shared/_UserInfoLayout.cshtml";
}
<link href="~/Content/css/个人中心主页.css" rel="stylesheet" />
<h2>我的订单</h2>
@if(Model==null)
{
    <div>
        您未购买任何商品
    </div>
}
else
{
    <div>如下</div>
    <table class="table table-striped">
        <thead>
           
        </thead>
    </table>

}
