
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/功能主页搜索栏.css" rel="stylesheet" />
    <link href="~/Content/css/功能主页导航栏.css" rel="stylesheet" />
    <link href="~/Content/css/供应大厅分类导航栏.css" rel="stylesheet" />
    <link href="~/Content/css/助农学堂.css" rel="stylesheet" />
    <style>     
    </style>
</head>
<body>
    <!-- 导航栏 -->
    <div class="top-wrapper">
        <div class="top-content">
            <ul class="content-left">
                <li id="service-home">
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="/Introduced/Index" target="_blank">服务主页</a>
                </li>
                <li id="address" class="dropdown">
                    <div class="dt cw-icon">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <span title="北京" data-id="1">北京</span>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="ui-areamini-content-wrap" style="left: auto">
                            <div class="ui-areamini-content">
                                <div class="ui-areamini-content-list clearfix">
                                    <div class="item">
                                        <a data-id="1" class="selected">北京</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="2">上海</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="3">天津</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="4">重庆</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="5">河北</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="6">山西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="7">河南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="8">辽宁</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="9">吉林</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="10">黑龙江</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="11">内蒙古</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="12">江苏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="13">山东</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="14">安徽</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="15">浙江</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="16">福建</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="17">湖北</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="18">湖南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="19">广东</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="20">广西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="21">江西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="22">四川</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="23">海南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="24">贵州</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="25">云南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="26">西藏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="27">
                                            陕西
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a data-id="28">甘肃</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="29">青海</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="30">宁夏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="31">新疆</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="32">港澳</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="33">台湾</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="34">钓鱼岛</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="35">海外</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="content-right">
                @Html.Action("LoginSummary", "Home")
                <li class="spacer"></li>
                <li class="fore2">
                    <div class="dt">
                        <a href="#" target="_blank">我的订单</a>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore3 dropdown" id="myfamer">
                    <div class="dt cw-icon">
                        <a target="_blank" href="#">我的农场</a>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="myfmlist1">
                            <div class="fore1">
                                <div class="item">
                                    <a href="#">待处理订单<span class="num-unfinishedorder"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#">返修退换货</a>
                                </div>
                                <div class="item">
                                    <a href="#">降价商品<span class="num-reduction"></span></a>
                                </div>
                            </div>
                            <div class="fore2">
                                <div class="item">
                                    <a href="#" target="_blank">消息<span class="num-tip"></span> </a>
                                </div>
                                <div class="item">
                                    <a href="#" target="_blank">我的问答<span class="num-consultation"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#" target="_blank">我的关注</a>
                                </div>
                            </div>
                        </div>
                        <div class="myfmlist2">
                            <div class="fore1">
                                <div class="item">
                                    <a href="#">我的积分</a>
                                </div>
                                <div class="item">
                                    <a href="#">我的白条</a>
                                </div>
                            </div>
                            <div class="fore2">
                                <div class="item">
                                    <a href="#">我的优惠券<span class="num-ticket"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#">我的理财</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore4" id="mymember">
                    <div class="dt">
                        <a target="_blank" href="#">我的会员</a>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore5 dropdown" id="enterprise">
                    <div class="dt cw-icon">
                        <a href="#" target="_blank">企业采购</a>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="dd-inner" id="ent-main">
                            <div class="item">
                                <a href="#" target="_blank">企业购</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">商用产品馆</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">工业品</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">礼卡品</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore6 dropdown" id="serve">
                    <div class="dt cw-icon">
                        客服服务
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dropdown-layer dd">
                        <div class="dd-spacer"></div>
                        <div class="item-client">客户</div>
                        <div class="item">
                            <a href="#" target="_blank">帮助中心</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">售后服务</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">在线客服</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">意见建议</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">电话客服</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">客服邮箱</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">金融资讯</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">全球售客服</a>
                        </div>
                        <div class="item-business">商户</div>
                        <div class="item">
                            <a href="#" target="_blank">合作招商</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">学习中心</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">商家后台</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">工作台</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">商家帮助</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">规则平台</a>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore7 dropdown" id="navs">
                    <div class="dt cw-icon">
                        网站导航
                        <i class="glyphicon glyphicon-send"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <!-- 网站导航部分代码 -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索栏 -->
    <div class="header-wrap w" style="height: 112px">
        <div class="logo-2018">
            <img src="~/Images/logo.png" />
            <h2 class="logo-title">助农为乐</h2>
        </div>
        <div class="search-2018">
            <ul class="hide" id="shelper" style="display: none"></ul>
            <div class="form">
                <input placeholder="搜索商品" type="text" autocomplete="off" id="key" class="text defcolor" />
                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
        <div class="mycart-2018">
            <div class="cw-icon">
                <i class="glyphicon glyphicon-shopping-cart ci-left"></i>
                <i class="ci-count" id="shopping-amount">0</i>
                <a target="_blank" href="#">我的购物车</a>
            </div>
            <div class="dropdown-layer">
                <div class="dd-spacer"></div>
                <div class="prompt">
                    <div class="nogoods">
                        <b></b>
                        购物车中还没有商品，赶紧选购吧！
                    </div>
                </div>
            </div>
        </div>
        <div class="saoma-2018">
            <a href="javascript:;" class="saoma-link">
                <i class="glyphicon glyphicon-qrcode"></i>
                <span class="saoma-text">扫码享受优惠</span>
            </a>
            <div class="saoma-photo" id="photo">
                <div class="saoma-img">
                    <img src="~/Images/headerqrcode.png" />
                </div>
            </div>
        </div>
        <div class="hotwords-2018">
            <a data-id="7469" target="_blank" class="highlight" href="#">
                生鲜11.11
            </a>
            <a data-id="2869" target="_blank" href="#">
                火锅
            </a>
            <a target="_blank" href="#">
                柚子
            </a>
            <a href="#" target="_blank">
                牛排
            </a>
            <a href="#" target="_blank">
                奶酪
            </a>
            <a href="#" target="_blank">
                酸奶
            </a>
            <a href="#" target="_blank">
                三文鱼
            </a>
            <a target="_blank" href="#">
                冬枣
            </a>
        </div>
    </div>
    <div id="footer" style="font-size:50px;color: #00a8c6;clear:both;text-align:center;">
    </div>
    <div class="main-nav">
        <div class="container">
            <!--data-spy="affix" data-offset-top="125"-->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">学堂首页</a></li>
                <li><a href="#">网站操作</a></li>
                <li><a href="#">电商知识</a></li>
                <li><a href="#">农技知识</a></li>
                <li><a href="#">讨论大厅</a></li>
                <li><a href="#">最新课程</a></li>
                <li><a href="#">精品课程</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!--右边文本内容-->
        <div class="right-content">
            <div class="content-box clearfix">
                <div class="content-list">
                    @*<div class="left-nav index" style="position:static;top:60px;">
                        <img src="~/Images/文章图片/qq咨询.png" />
                    </div>*@
                    @*文章内容*@
                    <div class="db-view">
                        <div class="nav-label">
                            <label>当前位置：</label>
                            <a href="http://www.cnhnb.com/xt/">学堂首页</a>
                            <span>&gt;</span>
                            <h1><a href="http://www.cnhnb.com/xt/wzcz/" target="_blank">网站操作</a></h1>

                            <span>&gt;</span>        <span>助农补助金项目启动 每天5万元现金补助农友</span>
                        </div>
                        <h1 class="view-title">助农补助金项目启动 每天5万元现金补助农友</h1>
                        <div view-lable>
                            <span>发布时间：</span>
                            <span>作者：</span>
                            <span>来源：天上人间</span>
                        </div>
                        <div class="view-des">
                            <p>
                                &nbsp; 为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。
                            </p>
                            <p>
                                &nbsp; 为此惠农网特别设立【助农补助金】专款，每天50000元现金补助农友!
                            </p>
                            <p align="center">
                                <img alt="" src="http://img.cnhnb.com/group1/M00/9F/ED/4E582DL345ChRkRlwW_-mAL_C2AADz5jdLOPo455.jpg">
                            </p>
                            <p>
                                &nbsp; 要怎么做才能领取助农补助金呢?简单4步，即可轻松获得补助金，您接着往下看!
                            </p>
                            <div align="center">
                                <img src="http://img.cnhnb.com/group1/M00/9F/ED/987503R7F0ChRkRlwXCqiAaTXBAAIlYlGK-kM978.png" alt=""><br>
                            </div>
                            <p>
                                <strong>&nbsp; 第一步：更新/下载最新版的【惠农网】手机应用</strong>
                            </p>
                            <p>
                                &nbsp; 1、打开手机到应用市场下载最新版的【惠农网】手机应用
                            </p>
                            <p>
                                &nbsp; 2、如果您已经下载并安装了【惠农网】手机应用，请更新到最新版本
                            </p>
                            <p>
                                <strong>&nbsp; 第二步：打开【助农补助金】项目</strong>
                            </p>
                            <p>
                                &nbsp; 启动【惠农网】手机应用，在首页点击右下角【领补助金】按钮
                            </p>
                            <p align="center">
                                <img alt="" src="http://img.cnhnb.com/group1/M00/9F/ED/76E905R31DChRkRlwXAQuAbcrIAAGXcAH3mEM433.jpg">
                            </p>
                            <p>
                                <strong>&nbsp; 第三步： 管理生意、邀请好友赚取粮票，多劳多得，每日可提现</strong>
                            </p>
                            <p>
                                &nbsp; 1、粮票是助农补助金虚拟货币，每天根据您获得的粮票自动结算成补助金
                            </p>
                            <p>
                                &nbsp; 2、您可以通过管理惠农网上的生意、邀请好友来惠农网做生意获得粮票
                            </p>
                            <p>
                                &nbsp; 3、此外，新加入惠农网的用户可以连续7天领取专属的粮票奖励
                            </p>
                            <p align="center">
                                <img alt="" src="http://img.cnhnb.com/group1/M00/9F/ED/E4D11ASFCEChRkRlwXAS2AYiL1AAHNp7i6L64968.png">
                            </p>
                            <p align="center">
                                <img alt="" src="http://img.cnhnb.com/group1/M00/9F/ED/D03C87W892ChRkRlwXATSAQ2ovAAEhMX6lpuE520.png">
                            </p>
                            <p>
                                <strong>&nbsp; 第四步：提现</strong>
                            </p>
                            <p>
                                &nbsp; 当您助农补助金账户里的金额累计到一定额度，就可以提取到个人账户，提现到银行卡!
                            </p>
                            <p align="center">
                                <img alt="" src="http://img.cnhnb.com/group1/M00/9F/ED/0E1FD8X59FChRkRlwXAUaAURPHAACZSRFnQi0213.png">
                            </p>
                            <p>
                                <br>
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="conter-right">
                    <div class="new-class disc">
                        <h2><b>精品课程</b></h2>
                        <ul class="no-left">
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="new-class disc">
                        <h2><b>热门推荐</b></h2>
                        <ul class="no-left" style="list-style: none">
                            <li>
                                <span class="topRank">1</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">2</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">3</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">4</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">5</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function () {
        $(".left-nav dt").click(function () {
            $(this).parent().find("dd").slideToggle(200).parent().siblings().find("dd").slideUp(200);
        });
    })
    </script>
</body>
</html>
