
@{
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>助农讲堂</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/助农学堂.css" rel="stylesheet" />
</head>
<body>
    <div class="section">
        <!--右边文本内容-->
        <div class="right-content">
            <div class="content-box clearfix">
                <div class="content-list">
                    <div db-list>

                        <!--信息列表-->
                        <div id="list">
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="pic-font">
                                <!--文章图片-->
                                <a target="_blank" class="pic" href="http://www.cnhnb.com/xt/article-56860.html">
                                    <img src="~/Images/文章图片/背景1.jpg" height="96" width="145" />
                                </a>
                                <!--文章内容-->
                                <div class="v-text">
                                    <a href="#" target="_blank">
                                        <p class="h1p">助农补助金项目启动 每天5万元现金补助农友<span>图文</span></p>
                                        <p class="h6p">
                                            <span>助农为乐网小土豆</span><span>9771浏览</span><span>
                                                2018年12月17日
                                            </span>
                                        </p>
                                        <p>为了做成一单生意，农民朋友们前期需要投入大量的本钱经营，每天都要打十来个电话拜访客户，起大早坐凌晨第一班车跑到外地去看货。</p>
                                    </a>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="conter-right">
                    <div class="new-class disc">
                        <h2><b>精品课程</b></h2>
                        <ul class="no-left">
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="new-class disc">
                        <h2><b>热门推荐</b></h2>
                        <ul class="no-left" style="list-style: none">
                            <li>
                                <span class="topRank">1</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">2</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">3</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">4</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                            <li>
                                <span class="topRank">5</span>
                                <a href="http://www.cnhnb.com/xt/article-56945.html" title="白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？" target="_blank">
                                    白菜叶上有黑点是什么原因？有黑点的白菜还能吃吗？
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function () {
        $(".left-nav dt").click(function () {
            $(this).parent().find("dd").slideToggle(200).parent().siblings().find("dd").slideUp(200);
        });
    })
    </script>
</body>
</html>

